.soto {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  border: 1px solid #e3e3e3;
  position: fixed;
  background-color: #ffffff;
}

.top {
  display: flex;
  min-width: 65%;
  justify-content: space-between;
}

.top-bar {
  display: flex;
}

.top-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inline {
  font-size: 40px;
  font-weight: 500;
  color: #ff5722;
}

.BG1 {
  background-image: url(./bg/1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 732px;
}

.redbutton {
  display: flex;
  border-radius: 40px;
  padding-left: 28px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #ffffff;
  background-color: #da3743;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  margin-left: 20px;
}

.topbar-button {
  font-size: 16px;
  color: #505563;
  margin: 0 14px;
}

.buttonsssss {
  display: flex;
}

#IC-redbutton {
  width: 36px;
  height: 100%;
  margin-right: 8px;
}
.water {
  display: flex;
}

.left-words {
  padding-top: 214px;
  padding-left: 17.5%;
}

.big-words {
  font-size: 48px;
  font-weight: 700;
}

.orenji {
  color: #ff5722;
}

.BW-eg {
  font-size: 20px;
  font-weight: 1000;
  margin-top: 20px;
}

.san-word {
  color: #696b69;
  margin: 64px 0;
}

.bule-botton {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  background-color: #064c8c;
  padding: 12px 24px;
  border-radius: 6px;
  margin-top: 16px;
}

.BG2 {
  background-image: url(./bg/2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 596px;
}

.world {
  font-size: 18px;
  color: #333333;
  text-align: center;
  padding-top: 128px;
}

.marus {
  text-align: center;
}

.maru-country {
  display: inline-block;
  color: #595959;
  margin-top: 64px;
  margin-left: 32px;
  margin-right: 32px;
}
.maru {
  display: inline-block;
  width: 160px;
  height: 160px;
  border: 1px solid #595959;
  border-radius: 100%;
}

.country {
  text-align: center;
  margin-top: 32px;
  font-size: 24px;
  font-weight: 500;
}

#tp101 {
  display: inline-block;
  height: 150px;
  margin-top: 2px;
}

#hk {
  display: inline-block;
  height: 145px;
  margin-top: 3px;
}

#nihon {
  display: inline-block;
  height: 110px;
  margin-top: 26px;
}

#malaysia {
  display: inline-block;
  height: 132px;
  margin-top: 10px;
}

#fish {
  display: inline-block;
  height: 132px;
  margin-top: 14px;
}

#ASU {
  display: inline-block;
  height: 52px;
  margin-top: 48px;
}

#USA {
  display: inline-block;
  height: 130px;
  margin-top: 10px;
}

.BG34 {
  background-image: url(./bg/3+4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100vw;
  aspect-ratio: 1920 / 2853; */
  height: 2853px;
}

.power {
  font-size: 28px;
  font-weight: 700;
  color: #ed7218;
  text-align: center;
}

.san-big {
  font-size: 32px;
  font-weight: 700;
  margin-top: 60px;
  text-align: center;
  color: #252932;
}

.top-T {
  font-size: 26px;
  font-weight: 700;
  color: #064c8c;
  margin-bottom: 56px;
  margin-left: 80px;
}

.san-li {
  font-size: 20px;
  font-weight: 600;
  color: #252932;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 90px;
}

.san-li-p {
  margin-bottom: 12px;
  color: #252932;
  margin-left: 90px;
}

.space40 {
  height: 40px;
}

.san-card {
  display: flex;
}
.space50perc {
  width: 50%;
}
.san-ul-words {
  width: 50%;
  margin-top: 80px;
}

.BG5 {
  background-image: url(./bg/5.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 923px;
}

.go-T {
  font-size: 28px;
  font-weight: 700;
  margin-top: 64px;
  margin-bottom: 150px;
  text-align: center;
  color: #252932;
}

.go-ul {
  display: flex;
  justify-content: center;
  color: #747474;
}

.go-li {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.go-li:hover {
  border-bottom: 4px solid #ff6e06;
  color: #252932;
}

.go-line {
  width: 60%;
  margin-left: 20%;
  height: 2px;
  background-color: #f0f2f7;
}

.BG6 {
  background-image: url(./bg/6.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 3292px;
}

.roku-fraud {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #ff6600;
}

.roku-boss {
  text-align: center;
  font-size: 20px;
  color: #252932;
  padding-top: 72px;
  padding-bottom: 128px;
}

.roko-hi {
  color: #0c4e8c;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
}

.roku-blackwords {
  font-size: 20px;
  font-weight: 700;
  color: #2c2932;
}

.roku-redwords {
  font-size: 20px;
  font-weight: 700;
  color: #ff0000;
}

.roku-biackbluewords {
  font-size: 20px;
  font-weight: 700;
  color: #000484;
}

.MID {
  justify-content: center;
}

.roku-add {
  text-align: center;
  color: #252932;
}

.roku-bigshiroi {
  background-color: #ffffff;
  width: 40%;
  margin-left: 30%;
  border-radius: 20px;
}

#ruko-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roku-label {
  padding-top: 16px;
  padding-bottom: 12px;
  color: #252932;
}

.roku-input {
  border: 1px solid #dddddd;
  padding-left: 12px;
  padding-bottom: 16px;
  padding-top: 16px;
  width: 63%;
  border-radius: 4px;
}

.roku-input:focus {
  outline: none;
  border: 1px solid #999999;
}

.roku-tongue {
  text-align: center;
  color: #9b9b9b;
}

#kuni,
#func,
#roku-doko {
  color: #9b9b9b;
}

#roku-nrb {
  width: 100%;
  align-self: flex-start;
  padding-top: 10px;
  padding-left: 18.5%;
  padding-right: 40%;
}

#roku-button {
  background-color: #ec6337;
  color: #ffffff;
  font-weight: 700;
  padding: 12px 48px;
  border-radius: 30px;
  margin-top: 32px;
  margin-bottom: 20px;
}

.roku-tinyword {
  color: #2c303f;
  font-size: 12px;
  padding-bottom: 60px;
}

.roku-tsuyoi {
  font-size: 36px;
  font-weight: 700;
  color: #252932;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 48px;
}

.roku-bulebotton {
  text-align: center;
  color: #ffffff;
  background-color: #064c8c;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 28px;
  border-radius: 8px;
}
.roku-bulebotton-div {
  text-align: center;
}

.roku-two-T {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}

.roku-two-word {
  font-size: 16px;
  color: #40434d;
}

.roku-tel {
  font-size: 24px;
  font-weight: 700;
  color: #252932;
}
.roku-Sline {
  width: 2px;
  height: 100%;
  background-color: #cbd1dc;
}

.roku-TWO-card {
  display: flex;
  justify-content: center;
  margin-top: 108px;
}

.roku-leftcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 220px;
  /*右卡離中線152 左卡較小 補誤差 */
}

.roku-orenjibutton {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  background-color: #ec6337;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 8px;
}

.roku-rightcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 152px;
}

.shitabar {
  background-color: #252932;
  color: #ffffff;
  padding-top: 56px;
  padding-left: 17.5%;
  padding-bottom: 120px;
  margin-top: 80px;
}

.SB-4card {
  display: flex;
  align-items: start;
}

.SB1-li {
  font-weight: 700;
  padding-bottom: 12px;
}

.SB1-p {
  padding-bottom: 24px;
}

.SB2-li {
  width: 264px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #384044;
}

.SB3-word {
  padding-top: 28px;
  padding-bottom: 8px;
}

#SB4-FB {
  width: 260px;
  height: 130px;
}

.SB2 {
  padding-left: 114px;
  padding-right: 40px;
}

.SB3 {
  padding-right: 40px;
}

.B-orenji:hover {
  color: #ff5925;
}

#E-black {
  color: #000000;
}

/* moji此處以下放【文字大小】 */

.moji12 {
  font-size: 12px;
}

.moji16 {
  font-size: 16px;
}

.moji20 {
  font-size: 20px;
}

/* mojiW此處以下放【文字粗細】 */

.mojiW700 {
  font-weight: 700;
}

/* iro此處以下放【顏色】 */

.iro505563 {
  color: #505563;
}

.iroffffff {
  color: #ffffff;
}

/* bgiro此處以下放【背景顏色】 */

.bgiroDA3743 {
  background-color: #da3743;
}

/* m此處以下放【外邊距】 */

.m-top8 {
  margin-top: 8px;
}

.m-bottom8 {
  margin-bottom: 8px;
}

.m-bottom12 {
  margin-bottom: 12px;
}

.m-left14 {
  margin-left: 14px;
}

.m-right14 {
  margin-right: 14px;
}

.m-top16 {
  margin-top: 16px;
}

.m-top20 {
  margin-top: 20px;
}

/* p此處以下放【內邊距】 */

.p-top8 {
  padding-top: 8px;
}

.p-bottom8 {
  padding-bottom: 8px;
}

.p-top10 {
  padding-top: 10px;
}

.p-bottom10 {
  padding-bottom: 10px;
}

.p-top12 {
  padding-top: 12px;
}

.p-bottom12 {
  padding-bottom: 12px;
}

.p-bottom16 {
  padding-bottom: 16px;
}

.p-bottom20 {
  padding-bottom: 20px;
}

.p-left28 {
  padding-left: 28px;
}

.p-top32 {
  padding-top: 32px;
}

.p-right32 {
  padding-right: 32px;
}

.p-top36 {
  padding-top: 36px;
}

.p-bottom36 {
  padding-bottom: 36px;
}

.p-top40 {
  padding-top: 40px;
}

.p-top48 {
  padding-top: 48px;
}

.p-bottom48 {
  padding-bottom: 48px;
}

.p-top52 {
  padding-top: 52px;
}

.p-bottom70 {
  padding-bottom: 70px;
}

.p-left114 {
  padding-left: 114px;
}
